[
    {
        "name": "terraform-container-definition",
        "image":"${ecr_repository_url}:latest",
        "cpu": 256,
        "memory": 256,
        "memoryReservation": 36,
        "portMappings": [
            {
                "containerPort": 8000,
                "hostPort": 8000,
                "protocol": "tcp"
            }
        ],
        "essential": true
    }
]